.curved-loop-jacket {
  min-height: 70vh; /* default for desktop/tablet */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 background: #0a0a1a;
}

/* Reduce height on mobile screens */
@media (max-width: 640px) { /* مثال على الموبايل */
  .curved-loop-jacket {
    min-height: 30vh; /* قلل الارتفاع حسب الحاجة */
  }

 
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: #c9a96e;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
